---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Gabriel Zelaya | Authentic Solutions">
	<Header />
	<main>
		<Hero />
		<About />
		<Work />
		<Skills />
		<Contact />
	</main>
	<Footer />
</Layout>
