---
---

<section id="about" class="section">
	<div class="container">
		<span class="section-label">01 / About</span>
		<h1>Gabriel Zelaya<br>
			<span class="about-subtitle">The art of creating solutions<br>for the people</span></h1>
		<p class="bio">
			I'm a Costa Rican developer focused on digital services that are not only <span class="highlight-span">authentic</span> but also scalable. My approach is rooted in minimalism and detailed results.
		</p>
	</div>
</section>
