---
---

<footer>
	<div class="container">
		<a target="_blank" class="footer-link" href="https://github.com/GabrielAbarca">Mock Projects</a>
		<div class="socials">
			<a target="_blank" href="https://www.linkedin.com/in/gabriel-zelaya">LinkedIn</a>
			<a target="_blank" href="https://github.com/GabrielAbarca">GitHub</a>
			<a target="_blank" href="https://x.com/iGaboxx">Twitter</a>
		</div>
	</div>
</footer>
