---
---

<section id="skills" class="section">
	<div class="container">
		<span class="section-label">02 / Skills</span>
		<h2>Technical Expertise</h2>
		<div class="skills-grid">
			<div class="skill-item">
				<h3>Programming Languages</h3>
				<ul class="skill-list">
					<li>JavaScript</li>
					<li>TypeScript</li>
					<li>Python</li>
					<li>SQL</li>
					<li>Rust</li>
				</ul>
			</div>
			<div class="skill-item">
				<h3>Frameworks</h3>
				<ul class="skill-list">
					<li>React</li>
					<li>React Native</li>
					<li>Tailwind CSS</li>
					<li>Next.js</li>
					<li>Astro</li>
				</ul>
			</div>
			<div class="skill-item">
				<h3>Design</h3>
				<ul class="skill-list">
					<li>UI/UX Design</li>
					<li>Figma</li>
					<li>Photoshop</li>
					<li>Canva</li>
				</ul>
			</div>
			
			<div class="skill-item">
				<h3>Tools & Enviroments</h3>
				<ul class="skill-list">
					<li>AI Agents</li>
					<li>Vite</li>
					<li>Git</li>
					<li>GitHub</li>
					<li>Node.js</li>
				</ul>
			</div>
		</div>
	</div>
</section>
