---
---

<section id="work" class="section">
	<div class="container">
		<span class="section-label">03 / Selected Works</span>
		<div class="project-grid">

			<a target="_blank" href="https://lunar-ark-servers.net" class="project-card">

				<div class="project-image1"></div>

				<div class="project-info">
					<h3>ARK Servers Website</h3>
					<p>Multi-functional web app with a total traffic of 100+ users</p>
				</div>
			</a>

			<a href="" class="project-card">

				<div class="project-image2"></div>

				<div class="project-info">
					<h3>Rust programming course</h3>
					<p>Frontend Architecture</p>
				</div>
			</a>

		</div>

		<div class="explore-projects-wrapper">
			<a href="#" class="explore-btn">Explore Projects</a>
		</div>

	</div>
</section>
