---

---

<section id="work" class="section">
	<div class="container">
		<span class="section-label">03 / Selected Works</span>
		<div class="project-grid">
			<a
				target="_blank"
				href="https://lunar-ark-servers.net"
				class="project-card"
			>
				<div class="project-image1"></div>

				<div class="project-info">
					<h3>ARK Servers Website</h3>
					<p>
						Multi-functional web app with a total traffic of 100+
						users
					</p>
				</div>
			</a>

			<a 
			target="_blank"
			href="https://smp-web-page.vercel.app" class="project-card">
				<div class="project-image2"></div>

				<div class="project-info">
					<h3>School System Dashboard</h3>
					<p>
						SaaS for educational institutions for managing students'
						grades, classes, schedules, and more!
					</p>
				</div>
			</a>
		</div>

		<div class="explore-projects-wrapper">
			<a target="_blank" href="https://github.com/GabrielAbarca" class="explore-btn">Explore Projects <img src="./../../public/assets/icons/github.svg" alt="GitHub Icon" class="github-icon" /></a>

		</div>
	</div>
</section>
